@font-face {
  font-family: InterUI;
  font-style: normal;
  font-weight: 400;
  src: local("InterUI"), local("InterUI-Regular"), url("/primer-marketing-support/fonts/Inter-UI-Regular.woff") format("woff"); }

@font-face {
  font-family: InterUI;
  font-style: normal;
  font-weight: 500;
  src: local("InterUI Medium"), local("InterUI-Medium"), url("/primer-marketing-support/fonts/Inter-UI-Medium.woff") format("woff"); }
